<a href="https://colab.research.google.com/github/pharringtonp19/business-analytics/blob/main/notebooks/Data_Manipulation_Zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Creating a Pandas Dataframe**

In [2]:
import pandas as pd

my_dict = {'vehicles': ['Toyota Camry', 'Ford Explorer', 'Tesla Model 3', 'Ford F-150', 'Honda Civic', 'Porsche 911', 'Toyota Prius', 'Toyota Tundra'],
            'countries': ['USA', 'Canada', 'Mexico', 'Argentina', 'Italy', 'France', 'England', 'Germany'],
            'sports': ['Basketball', 'Football', 'Soccer', 'Baseball', 'Hockley', 'Ping Pong', 'Sailing', 'Running']}
df = pd.DataFrame(my_dict)

### **Visualizing Data Frames**

In [3]:
df.head()

        vehicles  countries      sports
0   Toyota Camry        USA  Basketball
1  Ford Explorer     Canada    Football
2  Tesla Model 3     Mexico      Soccer
3     Ford F-150  Argentina    Baseball
4    Honda Civic      Italy     Hockley

### **Indexing DataFrames**

In [4]:
df.loc[0]

vehicles     Toyota Camry
countries             USA
sports         Basketball
Name: 0, dtype: object

In [5]:
df.loc[1:3]

        vehicles  countries    sports
1  Ford Explorer     Canada  Football
2  Tesla Model 3     Mexico    Soccer
3     Ford F-150  Argentina  Baseball

In [6]:
df['vehicles']

0     Toyota Camry
1    Ford Explorer
2    Tesla Model 3
3       Ford F-150
4      Honda Civic
5      Porsche 911
6     Toyota Prius
7    Toyota Tundra
Name: vehicles, dtype: object

In [7]:
df.vehicles

0     Toyota Camry
1    Ford Explorer
2    Tesla Model 3
3       Ford F-150
4      Honda Civic
5      Porsche 911
6     Toyota Prius
7    Toyota Tundra
Name: vehicles, dtype: object

In [8]:
df[['vehicles', 'sports']]

        vehicles      sports
0   Toyota Camry  Basketball
1  Ford Explorer    Football
2  Tesla Model 3      Soccer
3     Ford F-150    Baseball
4    Honda Civic     Hockley
5    Porsche 911   Ping Pong
6   Toyota Prius     Sailing
7  Toyota Tundra     Running

In [10]:
new_dict = df.loc[1:3, ['vehicles', 'sports']]
new_dict.iloc[0]

vehicles    Ford Explorer
sports           Football
Name: 1, dtype: object