<a href="https://colab.research.google.com/github/pharringtonp19/business-analytics/blob/main/notebooks/Introduction_to_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Task #1**

apply the function `f` to `my_list` and `print` the result

In [ ]:
my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x**2

#### **Naive Solution**

In [ ]:
print(f(my_list[0]))
print(f(my_list[1]))
print(f(my_list[2]))
print(f(my_list[3]))
print(f(my_list[4]))
print(f(my_list[5]))

0
1
4
9
16
25

#### **For Loop**

In [ ]:
for i in my_list:
  print(f(i))

0
1
4
9
16
25

### **Task #2**

Let's say that we want to square each element of the list and append it to the new list

In [7]:
my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x**2

new_list = []

for i in my_list:
  new_list.append(f(i))

print(new_list)

[0, 1, 4, 9, 16, 25]

### **Task #3**

Let's say that we only want to print the square of the even numbers:
Hint `x %2 ==0` returns `True` if x is even and `False` otherwise

In [1]:
# Code Block 1

my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x**2

for i in my_list:
  if i%2 == 0:
    print(f(i))

0
4
16

### **Task #4**
Let's say that someone has given us a list (could be a list of numbers or strings), and we want to print out the square of the even numbers and the cube of the odd numbers, or just the string if it is a string. Hint: `type(i) == int` checks if `i` is an integer

In [9]:
my_list = [0, 1, "Apple", "BU", 2, 3, 5, "Boston", 6, 7]

for i in my_list:

  if type(i) == int:
    if i%2 == 0:
      print(f(i))
    else:
      print(i**3)
  else:
    print(i)

0
1
Apple
BU
4
27
125
Boston
36
343