<a href="https://colab.research.google.com/github/pharringtonp19/business-analytics/blob/main/notebooks/Intro_to_Similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Type Casting Revisited**

In [1]:
float("25")

25.0

In [2]:
float("I like Python")

ValueError: could not convert string to float: 'I like Python'

In [9]:
my_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5,
    'f': 6,
    'g': 7,
    'h': 8,
    'i': 9,
    'j': 10,
    'k': 11,
    'l': 12,
    'm': 13,
    'n': 14,
    'o': 15,
    'p': 16,
    'q': 17,
    'r': 18,
    's': 19,
    't': 20,
    'u': 21,
    'v': 22,
    'w': 23,
    'x': 24,
    'y': 25,
    'z': 26,
}

def map_string(text: str) -> int:
  return my_dict[text[0].lower()]

In [10]:
map_string("I like Python")

9