<a href="https://colab.research.google.com/github/pharringtonp19/business-analytics/blob/main/notebooks/Introduction_to_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Task (For Loop)**

apply the function `f` to `my_list` and `print` the result

In [15]:
my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x**2

#### **Naive Solution**

In [16]:
print(f(my_list[0]))
print(f(my_list[1]))
print(f(my_list[2]))
print(f(my_list[3]))
print(f(my_list[4]))
print(f(my_list[5]))

0
1
4
9
16
25

#### **For Loop**

In [17]:
for i in my_list:
  print(f(i))

0
1
4
9
16
25

### **Task #2**

Let's say that we only want to square the even numbers. Which of the following code blocks do you like the most?

In [18]:
# Code Block 1

my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  if x%2 == 0:
    return x**2
  else:
    return x

for i in my_list:
  print(f(i))

0
1
4
3
16
5

In [19]:
# Code Block 2

my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x**2

for i in my_list:
  if i%2 == 0:
    print(f(i))
  else:
    print(i)

0
1
4
3
16
5

In [21]:
# Code Block 3

my_list = [0, 1, 2, 3, 4, 5]

def f(x):
  return x**2

for i in my_list:
  if i % 2 == 0:
    x = f(i)
  else:
    x = i
  print(x)

0
1
4
3
16
5